@page
@model SistemaAcademico.Pages.Carreras.CreateModel
@{
}
<form method="post">
    <h2>Formulario de Carreras</h2>
    <div class="form-group">
        <label asp-for="Carrera.Nombre"></label>
        <input asp-for="Carrera.Nombre" class="form-control" />
        <span asp-validation-for="Carrera.Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Carrera.Años"></label>
        <input asp-for="Carrera.Años" class="form-control" />
        <span asp-validation-for="Carrera.Años" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Carrera.Título"></label>
        <select asp-for="Carrera.Título"
                asp-items="@(new SelectList(Model.Titles))"
            class="form-control"
        >
            <option value="">Seleccione un titulo</option>
        </select>
        <span asp-validation-for="Carrera.Título" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Carrera.Modalidad"></label>
        <select asp-for="Carrera.Modalidad"
                asp-items="@(new SelectList(Model.Modalities))"
            class="form-control">
            <option value="">Seleccione una modalidad</option>
        </select>
        <span asp-validation-for="Carrera.Modalidad" class="text-danger"></span>

    </div>
    <button type="submit" class="btn btn-primary mt-2">Guardar</button>
</form>

