@page
@model SistemaAcademico.Pages.Carreras.EditModel
@{
}
<form method="post">
    <input type="hidden" asp-for="Carrera.Id" />
    <div class="form-group">
        <label asp-for="Carrera.Nombre"></label>
        <input asp-for="Carrera.Nombre" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Carrera.Anios"></label>
        <input asp-for="Carrera.Anios" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Carrera.Titulo"></label>
        <input asp-for="Carrera.Titulo" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Carrera.Modalidad"></label>
        <select asp-for="Carrera.Modalidad"
                asp-items="@(new SelectList(Model.Modalities))"
                class="form-control">
            <option value="">Seleccione una modalidad</option>
        </select>
        <span asp-validation-for="Carrera.Modalidad" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary ">Guardar</button>
</form>